<!-- Handlebars template for a single recipe result on the results page -->
<div class="recipeResult" data-time="{{time}}" data-difficulty="{{difficulty}}" data-vegetarian="{{vegetarian}}" data-vegan="{{vegan}}" data-name="{{name}}" data-percent="{{percent}}" data-short-description="{{shortDescription}}" data-long-description="{{longDescription}}" data-ingredients="{{ingredients}}" data-photoURL="{{photoURL}}" data-id="{{id}}">
    <div id="result-short">
       
        <div class="results-image-container">
            <img src="{{photoURL}}" alt="{{shortDescription}}">
        </div>
       
        <div class="short-results-main-container">
            <a href="/{{id}}"><span class="short-results-title">{{name}}</span></a><br>
            <div class="short-results-content">
                <span class="short-results-description">{{shortDescription}}</span>
                <div class="short-results-attributes">
                    <span class="short-results-time">Commitment: <b>{{time}}</b></span>
                    <span class="short-results-difficulty">Difficulty: <b>{{difficulty}}</b></span>
                    <span class="short-percent-match"><b>{{percent}}%</b> Match</span>
                </div>
            </div>
        </div>

    </div>
    
    <div id="result-expanded" class="hidden result-expanded">
        
        <div class="result-expanded-content">
            <div class="long-decription-container">
                <h3>Decription:</h3>
                <span class="long-results-description">{{longDescription}}</span>
            </div>
        </div>

    </div>

</div>