{{> header}}

<main class="content">

    <div class="recipe-container">
        <div class="recipe-title-container">
            <h2 class="recipe-title">{{name}}</h2>
        </div>
        <div class="recipe-image-container">
            <img src="{{photoURL}}" alt="{{name}}">
        </div>
        <div class="recipe-detail-container">
            <div class="recipe-time-container">
                <p class="recipe-time"> Time: {{time}}</p>
            </div>
            <div class="recipe-difficulty-container">
                <p class="recipe-difficulty"> Difficulty: {{difficulty}}</p>
            </div>
            <div class="recipe-rating-container">
                <p class="recipe-rating"> Rating: {{rating}}</p>
            </div>
        </div>
        <div class="recipe-instructions-container">
            <!-- Dynamically allocate list -->
        </div>
        <div class="recipe-comments-container">
            {{#each comments}}
                {{> comment}}
            {{/each}}
        </div>
    </div>

</main>