{{> header}}

<main class="content">

    <div class = "recipe-ingredients-container">
              <h2>Ingredients</h2>
              <div class = "recipe-ingredients">
                <ul>
                  {{#each ingredients as |item i|}}
                        <li class="recipe-ingredients">{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </div>

    <div class="recipe-container">
        <div class="recipe-title-container">
            <h1 class="recipe-title">{{name}}</h1>
      <!--  <h1 class="recipe-title">{{name}} </h2> -->
            <div class="recipe-image-container">
              <img src="{{photoURL}}" alt="{{name}}">
            </div>
        </div>
        <div class="recipe-information-container">
            <!-- Dynamically allocate list -->
            <div class = "recipe-description-container">
              <h2>Description</h2>
              <span class="recipe-description">{{longDescription}}</span>
            </div>
            <div class="recipe-instructions-container">
              <h2>Instructions</h2>
              <div class="recipe-instructions">
                <ul>
                  {{#each instructions as |item i|}}
                        <li class="recipe-instructions">{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </div>
        </div>

        <div class = "recipe-comments-container">
          <h2> Comments </h2>
            <!--{{#each comments}}
               {{> comment}}
            {{/each}}-->
        </div>
    </div>

    <div class="recipe-detail-container">
              <h2>Details:</h2>
              <div class="recipe-time-container">
                <p class="recipe-time">Time: {{time}}</p>
              </div>
              <div class="recipe-difficulty-container">
                <p class="recipe-difficulty">Difficulty: {{difficulty}}</p>
              </div>
              <div class="recipe-rating-container">
                <p class="recipe-rating">Rating: {{rating}}</p>
              </div>
            </div>

</main>
